/* colore png: #7fffd4; */

body {
  background-color: #7fffd4;
}

header {
  height: 100px;
}

footer {
  height: 80px;
}

header,
footer {
  background-color: white;
}

footer > h4 {
  line-height: 80px;
  vertical-align: middle;
}

/* GRID */

#grid {
  width: 700px;
  height: 700px;
  margin: 0 auto;
}

#grid.black-br {
  border: 1px solid black;
}

#grid .cell {
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 2px solid black;
  cursor: pointer;
}
